language: java
#after_success:
#- mvn jacoco:report coveralls:jacoco
jdk:
 - openjdk11

before_script:
  - psql -U postgres -f setup_postgresql_database.sql
  - mysql -u root < setup_mysql_database.sql

